.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 8rem;
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;

  &__link,
  &__link:visited {
    display: block;
    padding: 1.5rem;
    font-size: 1.4rem;
    color: #ffffff;
    text-decoration: none;
    font-family: $font-display;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    background-color: #fff;
    background-color: rgba(#ffffff, 0.05);
    transform: translateY(-3px);
  }
}

.copyright {
  width: 70%;
  margin: 0 auto;
  font-size: 1.4rem;
  color: rgba($color-grey-light-2, 0.5);
  margin-top: 6rem;
  text-align: center;
}
